
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      
      <span class="" style="float:right; font-size: 5;">
          <b>V1.0</b>
          
        </span><br>
      
        <span class="login100-form-title p-b-37">
          Dashboard
          <p style="font-size:21px; color:#000000;"> <b>(Prosafe Automation)</b></p>
        </span>
        
        <div class="container">
        <div class="row" style="flex-wrap: nowrap; margin-left: -32px;">
        
          <button id="pumpOnButton" class="login100-form-btn col-md-4" style="background-color:#d45959 " onclick="pumpOn()">
            Pump on
          </button>
          
          
          <button id="pumpOffButton" class="login100-form-btn col-md-4" style="background-color:#83d459 ; opacity:0.5;" onclick="pumpOff()">
            Pump off
          </button>
          
        </div>
        </div>
        <div>
        <p class="input100" style="padding-top:29px">Flow (Cloud to PLC)</p>
        
            <div class="wrap-input100 validate-input m-b-20 row" style="padding-left: 17px;">
            <div class="col-md-9">
          <input class="input100" type="text" id="flowDataInput" value="" placeholder="FlowData From IOTGateway">
          <span class="focus-input100"></span>
          <!-- 200.1 kl/min from gateway rasp se aayenga -->
        </div>
        <div class="col-md-1" style="padding-top: 15px;"><b><i>Kl/min</i></b></div>
        </div>
        
        </div>
        
        
        <div>
        <p class="input100" style="padding-top:29px">SetPoint (PLC to Cloud)</p>
            <div class="wrap-input100 validate-input m-b-20">
          <input class="input100" type="text" id="setPointInput" placeholder="SetPoint To IOTGateway" onblur="setPointOnBlur()"/>
          <span class="focus-input100"></span>
          <!-- 40.4 to gateway rasp ko denga -->
        </div>
        </div>
        <br>
        <div>
        
        <form action="logOut.htm" method="post">
        <button class="login100-form-btn col-md-2" style=" float:right;    min-width: 109px;">
            Log Out
          </button>
          </form>
        </div>
        <!-- <button id="pumpOffButton" class="login100-form-btn col-md-2" style="background-color: #d45959; float:right;" onclick="pumpOff()">
            Pump off
          </button> -->
        
        
      

      
    </div>

  
  

  <div id="dropDownSelect1"></div>